@import "tailwindcss";

* {
  box-sizing: border-box;
  font-family: "Comic Sans MS", cursive, sans-serif;
}

/* Navbar */
.navbar {
  background-color: #9c27b0;
  padding: 15px 40px;
  display: flex;
  justify-content: flex-end;
}

.nav-right a {
  color: white;
  text-decoration: none;
  margin-right: 25px;
  font-size: 16px;
}

.login-btn {
  background: transparent;
  border: 2px solid white;
  color: white;
  padding: 6px 14px;
  border-radius: 4px;
  cursor: pointer;
}

/* Hero Section */
.hero {
  background-color: #e5e5e5;
  /* min-height: calc(100vh - 60px); */
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-top: 80px;
  text-align: center;
}

.hero h1 {
  font-size: 42px;
  color: #4a004a;
  margin-bottom: 20px;
}

.subtitle {
  color: #9c27b0;
  font-size: 16px;
  max-width: 700px;
  margin-bottom: 50px;
}

.hero h2 {
  font-size: 28px;
  margin-bottom: 20px;
  color: #4a004a;
}

.category-input {
  width: 550px;
  height: 45px;
  border-radius: 25px;
  border: 2px solid #9c27b0;
  padding: 0 20px;
  font-size: 16px;
  outline: none;
}

.or-text {
  margin: 30px 0;
  font-size: 20px;
  color: #4a004a;
}

.hero h3 {
  font-size: 24px;
  color: #4a004a;
}


.body-container {
  background-color: #e5e5e5;
  padding: 60px 80px;
}

/* Grid layout */
.card-grid {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 40px;
}

/* Card */
.quiz-card {
  border: 2px solid #b44fd3;
  border-radius: 15px;
  padding: 30px 20px;
  text-align: center;
  background-color: transparent;
}

/* Icon placeholder */
.card-icon {
  width: 50px;
  height: 50px;
  background-color: #d1a6dc;
  border-radius: 12px;
  margin: 0 auto 20px auto;
}

/* Title */
.quiz-card h3 {
  font-size: 20px;
  color: #4a004a;
  margin-bottom: 15px;
}

/* Description */
.quiz-card p {
  font-size: 14px;
  color: #b44fd3;
  margin-bottom: 25px;
  line-height: 1.4;
}

/* Button */
.start-btn {
  background-color: #b44fd3;
  color: white;
  border: none;
  padding: 8px 20px;
  border-radius: 20px;
  font-size: 14px;
  cursor: pointer;
}

.start-btn:hover {
  background-color: #9c27b0;
}

/* Responsive */
@media (max-width: 900px) {
  .card-grid {
    grid-template-columns: repeat(2, 1fr);
  }
}

@media (max-width: 600px) {
  .card-grid {
    grid-template-columns: 1fr;
  }
}


.footer {
  background-color: #e5e5e5;
  padding: 30px 0;
  text-align: center;
  border-top: 1px solid #ccc;
}

.footer-links {
  margin-bottom: 8px;
}

.footer-links a {
  text-decoration: none;
  color: #4a004a;
  font-size: 16px;
  margin: 0 8px;
}

.divider {
  color: #4a004a;
  margin: 0 6px;
}

.footer-text {
  font-size: 14px;
  color: #b44fd3;
}


